* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4A4947;
    color: white;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

nav {
    background-color: #333;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #4A4947;
    padding-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery:hover{
    background-color: #FAF7F0; /* Change background on hover */
    color: white; /* Change text color on hover */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transform: scale(1.03); /* Slightly increase size */
}

.post, .video {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
}


.skeleton-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skeleton {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

/* About Section */
.about-section {
    background-color: #f8f1e4; /* Light cream background */
    padding: 50px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Me Section */
.contact-section {
    background-color: #e2e8f0;
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.contact-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.contact-details {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.contact-details li {
    margin-bottom: 10px;
}

.contact-details a {
    color: #007bff;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
